/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.sidebar-group .collapsable
  color: #2c3e50

.sidebar-group.is-sub-group > .sidebar-heading
  opacity: 1 !important
  cursor: pointer!important

.action-button
    background: linear-gradient(0.15turn, #b607b6, #3cc)
